<%- include('navbar') %>
<div class="index">
  <div class="textos">
    <p class="tours">Tours & Travels</p>
    <p class="titulo">Amazing Places on earth</p>
    <p class="fecha">December 12, 2018</p>
  </div>
  <img src="/images/nature.jpg" alt="" class="nature" />
</div>

<div class="imagenes">
  <div>
    <div class="info-index">
      <img src="/images/bolso.jpg" alt="" class="imagen-index" />
      <div class="caja-fashion">
        <p><%- info.titulo %></p>
      </div>
      <p class="info-texto"><%- info.texto %></p>
      <p class="info-fecha"><%- info.fecha %></p>
    </div>
  </div>
  <div>
    <div class="info-index">
      <img src="/images/caminata.jpg" alt="" class="imagen-index" />
      <div class="caja-fashion">
        <p><%- info.titulo %></p>
      </div>
      <p class="info-texto"><%- info.texto %></p>
      <p class="info-fecha"><%- info.fecha %></p>
    </div>
  </div>
  <div>
    <div class="info-index">
      <img src="/images/chaqueta.jpg" alt="" class="imagen-index" />
      <div class="caja-fashion">
        <p><%- info.titulo %></p>
      </div>
      <p class="info-texto"><%- info.texto %></p>
      <p class="info-fecha"><%- info.fecha %></p>
    </div>
  </div>
</div>
